#pricing {
  overflow-x: hidden;

  .pricing-table {
    .VueCarousel-wrapper {
      overflow: visible;

      .card {
        cursor: grab;

        .card-title {
          font-size: 1.2rem;
          letter-spacing: .2rem;
        }

        .card-price {
          font-size: 2.7rem;

          .term {
            font-size: .875rem;
          }
        }

        .list-group-item-action {
          font-size: 1.2rem;
        }
      }
    }
  }
}

#how-it-works {
  .how-it-works-table {
    .card {
      .card-title {
        font-size: 1.2rem;
        letter-spacing: .2rem;
      }

      .card-text {
        font-size: 1rem;
      }
    }
  }
}

#token-generator {
  min-height: 80vh;

  .payment-box {
    .badge {
      font-size: 1rem;
    }
  }
}

#token-docs {
  min-height: 80vh;
}

#modal-tutorial {
  .modal-body {
    padding: 0;
  }
}
